#patient-search-container {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#patient-table-container {
    flex: 1;
}

#patient-filters-container {
    background-color: #e4e0f5;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
    padding: 18px;
    border-right-width: 1px;
    border-right-color: rgba(0, 0, 0, .1);
    border-right-style: solid;
}